//===================================================
// SETTINGS ANIMATION
//===================================================

.b-animation {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

img {
	transform: rotateY(60deg);
}